{% extends "layout.njk" %}

{% block content %}

    <div class="jumbotrom">
        <div class="jumbotrom-text-container">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo todo.</p>
        </div>
        <div class="jumbotrom-image-container">
            <img src="/assets/chef.png">
        </div>
    </div>

    <div class="mais-acessadas">
        <h1>Mais acessadas</h1>
        <div class="mais-acessadas-receitas">
            {% for item in items %}
                <div class="card" id="{{item.id}}">
                    <img src="{{item.url}}" alt="{{item.name}}">
                    <h3>{{item.name}}</h3>
                    <p>{{item.chef}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}